{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Author" content="ogbu isreal blessing">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An application for learning">
        <title>ISDaPPs</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <style>
        </style>
    </head>
    <body style="background-color:aliceblue !important;">
        <div></div>
        <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                    <a class="navbar-brand" href="{% url 'Home' %}" style="color: black;"><b>Home</b></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'Topic' %}"  style="color: black;"><b>Catalog</b></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'new_topic' %}" style="color: black;"><b>Compose</b></a></li>
                </ul>
                <div><ul class="nav navbar-nav">
                    <li><form action="{% url 'search' %}"><input type="text" placeholder="search catalog" name="query" required="true"><button><b>search</b></button></form></li>
                </ul></div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a><strong>{{ user.username }}</strong></a></li>
                        <li><a href=""  style="color: black;"><b>Profile</b></a></li>
                        <li><a href="{% url 'logout' %}"  style="color: black;"><b>Logout</b></a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}" style="color: black;"><b>Signup</b></a></li>
                        <li><a href="{% url 'login' %}" style="color: black;"><b>Login</b></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        <div class="container">
            <div class="page-header">
                {% block header %}
                {% endblock header %}
            </div>
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
    <style>
        body {
          background-image: url("https://live.staticflickr.com/8147/7501146568_7e35fe489f_b.jpg");
        }
        </style>
</html>