{% extends "learning_logs/base.html" %}
{% block header %}
    <div class="jumbotron">
        <h2 style="color: blue; font-size: 46px;">Welcome to <strong>ISDaPPs</strong></h2>
        <b><i>Simplify and Seamless Documentation Management with our Web/Cloud-Based Solution</i></b>
    </div>
{% endblock header %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Click <strong><a href="{% url 'new_topic' %}">here</a> </strong> quick start your documentation
        </h4>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Quick use and Benefit</h3><br>
        <ul>
            <li><strong>Increased Efficiency</strong>: Our Cloud Documentation Application optimizes the documentation process, saving valuable time and resources by automating tasks and simplifying collaboration.</li>
            <li><strong>Improved Organization</strong>: Easily organize, categorize, and retrieve documents using our intuitive folder structure and advanced search capabilities, ensuring efficient document management.</li>
            <li><strong>Enhanced Security</strong>: Protect sensitive data with robust access control and permissions, ensuring that only authorized individuals have access to confidential information.</li>
            <li><strong>Scalability</strong>: Our application is designed to grow with your business needs, allowing you to easily manage and scale your documentation process as your organization expands.</li>
            <li><strong>Enhanced Collaboration</strong>: Foster better teamwork and collaboration with real-time editing, commenting, and version control features, enabling seamless collaboration across teams and departments.</li>

        </ul>
        <p></p>
    </div>
</div>
{% endblock content %}
