{% extends "learning_logs/base.html" %}

{% block header %}
    <h3>
        {{ user }}/{{ topic }}
    </h3>
{% endblock header %}

{% block content %}

<p>
    <a href="{% url 'new_entry' topic.id %}"><b>Add New</b></a>
</p>
{% for entry in entries %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <p><b>{{ entry.date_added|date:'M d, Y H:i' }}</b></p>
                <small>
                    <P>Click <a href="{% url 'edit_entry' entry.id %}"><b>here </b></a>to edit entry</P>
                </small> 
            </h4>
        </div>
        <div class="panel-body">
            {{ entry.text|linebreaks }}
        </div>
    </div>
{% empty %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            There is no entry for <strong>{{ topic }}</strong> yet.
        </h3>
    </div>
</div>
{% endfor %}
{% endblock content %}
